.home-page {
    width: 100vw;
    height: 100vh;
    background-color: hsl(209, 23%, 22%);

    .filter-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}