.search {
    padding: 10px;
    margin: 15px;
    margin-left: 50px;

    .form {
        margin: 10px;
        
        
        
        .search-field {
            font-family: "Nunito Sans";
            font-size: 14px;
            height: 30px;
            margin: 15px;
            width: 290px;
            border-radius: 4px;
            outline: none;
            border: none;
            background-color: hsl(209, 23%, 22%);
            color: hsl(0, 0%, 98%);
            font-weight: 600;
            padding-left: 45px;
            box-shadow: 1px 1px;
        }
    
        ion-icon {
            font-size: 14px;
            margin-left: 35px;
            margin-top: 25px;
            position: absolute;
            color: hsl(0, 0%, 98%);
        }

  
    }
 
}


.search-field-light {
    font-family: "Nunito Sans";
    font-size: 14px;
    height: 45px;
    margin: 15px;
    width: 290px;
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: hsl(0, 0%, 100%);
    color: (200, 15%, 8%);
    font-weight: 600;
    padding-left: 45px;
    box-shadow: .5px .5px;
    
}


    @media (max-width: 600px) {
        .search{
            margin-left: 17px;
        }
    }
   
 


