.search {
    padding: 10px;
    margin: 15px;
    margin-left: 50px;

    .form {
        margin: 10px;
        
        
        
        .search-field {
            font-family: "Nunito Sans";
            font-size: 14px;
            height: 30px;
            margin: 15px;
            width: 290px;
            border-radius: 4px;
            outline: none;
            border: none;
            box-shadow: 2px 3px hsl(207, 26%, 17%);
            background-color: hsl(209, 23%, 22%);
            color: hsl(0, 0%, 98%);
            font-weight: 600;
            padding-left: 45px;
        }
    
        ion-icon {
            font-size: 14px;
            margin-left: 35px;
            margin-top: 25px;
            position: absolute;
            color: hsl(0, 0%, 98%);
        }
    }
 
}