.filter {
    margin: 38px;
    margin-right: 50px;

    select {
        width: 130px;
        font-family: "Nunito Sans";
        font-size: 14px;
        height: 36px;
        outline: none;
        border: none;
        background-color: hsl(209, 23%, 22%);
        color: hsl(0, 0%, 98%);
        margin-top: 10px;
    }


        option {
            font-family: "Nunito Sans";
            font-size: 14px;
            color: hsl(0, 0%, 98%);
            font-weight: 600;
            outline: none;
            border: none;
        }
    
}